body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor {
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  margin: 30px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

button {
  background-color: #e144b2;
  color: rgb(8, 0, 0);
  border: none;
  font-size: 16px;
  border-radius: 10px;
  
}

