body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

/*button {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}*/

/*button:hover {
  background-color: #e68900;
}*/

.gatito {
  margin-top: 20px;
  max-width: 100%;
  border-radius: 10px;
  
}
